.delivery {
  background-color: c.$gray-200;

  &__header {
    font-family: OfficinaSerifC;
    font-size: 1.5rem;
  }

  &__text {
    font-size: .87rem;
  }
}


@include media-breakpoint-up(lg) {
  .delivery {
    &__header {
      font-size: 1.85rem;
    }

    &__text {
      font-size: 1.17rem;
    }
  }
}
