.description {
  &__header {
    font-size: 1.5rem;
  }

  &__text {
    font-size: .98rem;
    line-height: 1.45;
  }
}

/*
  BEER-SLIDER
*/
.beer-handle {
  background-color: white;
  background-image: url('../assets/icons/hand-icon2.png');
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}

.beer-handle::before,
.beer-handle::after {
  border: none;
}

.beer-range:focus ~ .beer-handle {
  background-color: white;
  background-image: url('../assets/icons/hand-icon2.png');
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}


@include media-breakpoint-up(lg) {
  .description {
    &__header {
      font-size: 1.85rem;
    }

    &__text {
      font-size: 1.02rem;
    }
  }
}
