.site-logo {
  max-width: 60px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-family: OfficinaSerifC;
  text-transform: uppercase;
}

.navbar-toggler.navbar__menu-button:focus {
  box-shadow: none;
}

.navbar__menu-button.collapsed .navbar__close-icon {
  display: none;
}

.navbar__menu-button:not(.collapsed) .navbar__close-icon {
  display: inline;
}

.navbar__menu-button.collapsed .navbar__menu-icon {
  display: inline;
}

.navbar__menu-button:not(.collapsed) .navbar__menu-icon {
  display: none;
}


@include media-breakpoint-up(lg) {
  .navbar {
    height: 100%;
  }

  .site-logo {
    max-width: 75px;
  }

  .navbar-collapse {
    flex-grow: 0;
    flex-basis: auto;

    &.show {
      opacity: 1;
    }

    &.collapse:not(.show) {
      display: block;

      opacity: 0;
      visibility: hidden;
    }

    &.collapsing {
      height: auto !important;
      @include transition($transition-fade)
    }
  }

  .nav-link {
    font-size: .9rem;
  }

  .navbar__menu-title {
    position: relative;
    top: 3px;

    font-family: OfficinaSerifC;
    font-size: .7rem;
  }
}


@include media-breakpoint-up(xl) {
  .site-logo {
    max-width: 155px;
  }

  .navbar {

    &__subtitle {
      font-family: OfficinaSerifC;
      font-size: .95rem;
      line-height: 1.4;
    }
  }

  .navbar-collapse {
    &.collapse:not(.show) {
      display: block;

      opacity: 1;
      visibility: visible;
    }
  }

  .nav-link {
    font-size: 1rem;
  }

  .address-info {
    font-family: Roboto;

    &__number {
      font-family: OfficinaSerifC;
      font-size: 1.25rem;
    }

    &__hours {
      font-size: .73rem;
      font-weight: bold;
    }
  }

  .call-back-btn {
    font-family: OfficinaSerifC;
  }
}

@include media-breakpoint-up(xxl) {
  .navbar-column {
    width: 13.65%;
  }

  .site-logo {
    max-width: 158px;
  }
}
