.sharing {
  &__heading {
    font-family: $paragraph-font-stack;
    font-size: 1rem;
  }

  &__link { text-decoration: none; }
}

/*
  SHARE ICON
*/
.share-number {
  position: relative;
  display: inline-block;

  padding: 8px 15px;

  font-family: $paragraph-font-stack;
  font-size: .8rem;

  border-radius: 20px;
  background-color: #e7e7e7;

  &__triangle {
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;

    border-top: 4px solid transparent;
    border-bottom:  4px solid transparent;
    border-right: 8px solid #e7e7e7;

    content: "";
  }
}

.parameters {
  &__heading {
    font-family: $paragraph-font-stack;
    font-size: 1rem;
  }

  &__content {
    font-family: $paragraph-font-stack;
    font-size: 1rem;
  }

  &__icons.img-fluid { height: 95%; }
}

.order {
  &__price {
    font-family: $heading-font-stack;
    font-size: 1.89rem;
  }

  &__button {
    font-family: $heading-font-stack;
    font-size: 1.4rem;
    text-align: justify;

    border: none;
    background-image: linear-gradient(rgba(0, 96, 34, .5),
                                      rgba(0, 96, 34, .5)),
                      linear-gradient(rgba(0,0,0, .5),
                                      rgba(0,0,0, .5)),
                      url("../assets/images/tree-bg.png");
    background-position: center 30%;
  }
}

@include media-breakpoint-up(lg) {
  .sharing {
    &__heading { font-size: 1.15rem; }
  }

  .parameters {
    &__heading { font-size: 1.12rem }

    &__content { font-size: 1.12rem; }
  }

  .order {
    &__price-text { font-size: 1.12rem; }
  }
}
