@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: OfficinaSerifC;
  font-weight: bold;
  src: url("../assets/fonts/OfficinaSerifC\ Bold.otf") format("opentype");
}

@font-face {
  font-family: PTSans;
  font-weight: normal;
  src: url("../assets/fonts/PTSans-Regular.ttf") format("truetype");
}
