// Colors
$custom-green: #006022;
$custom-brown: #503314;

$primary: $custom-brown;
$secondary: $custom-green;
$gray-100: #f7f7f7;
$gray-200: #f6f6f6;
$gray-300: #f2f2f2;
$gray-900: #343434;
$black: #1c1c1c;

// Fonts
@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: OfficinaSerifC;
  font-weight: bold;
  src: url("../assets/fonts/OfficinaSerifC\ Bold.otf") format("opentype");
}


.card-title {
  font-family: OfficinaSerifC;
  font-size: 1.38rem;

  background-color: $gray-300;
}

.list-group-item {
  font-family: Roboto;
  font-size: .973rem;
  color: $gray-900;
}

.list-group-item:nth-child(2n) {
  background-color: $gray-100;
}

.price-card {
  font-family: OfficinaSerifC;
  font-size: 1.85rem;

  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../assets/images/brevna.jpg");
  background-size: 200%;
  background-position: left;
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
