@use 'fonts';
@use 'colors' as c;

/*
  CHANGING BOOTSTRAP DEFAULTS
*/
$primary: c.$brown;
$secondary: c.$green;

.card-title {
  font-family: OfficinaSerifC;
  font-size: 1.37rem;

  background-color: c.$gray-300;
}

.list-group-item {
  font-family: Roboto;
  font-size: .973rem;
  color: c.$gray-900;
}

.list-group-item:nth-child(2n) {
  background-color: c.$gray-100;
}

/*
  OWN STYLING
*/
.price-card {
  font-family: OfficinaSerifC;
  font-size: 1.85rem;


  &_basic {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../assets/images/brevna.jpg");
    background-size: 200%;
    background-position: left;
  }

  &_optimal {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../assets/images/brevna2.jpg");
    background-size: 140%;
    background-position: left;
  }
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
